* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(107, 177, 107);
  font-family: "Dancing Script", cursive;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

#form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

#label {
  font-size: 4rem;
}

.input {
  max-width: 10rem;
  outline: none;
  background-color: inherit;
  border: none;
  border: 2px solid #9eafc2;
  border-radius: 5px;
  padding: 0.5rem;
}

#song {
  font-size: 2rem;
  font-weight: 700;
}

.button {
  font-family: inherit;
  background-color: #7d7880;
  border: 2px solid #7d7880;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 2rem;
  padding: 5px;
  margin-top: 20px;
  max-width: 10rem;
}

.small {
  color: #e74c3c;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  visibility: hidden;
}

.error {
  visibility: visible;
}

